body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.userdata-section {
    margin: 10px;
}

.user-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

.user-table th { 
    background-color: #01987a;
    color: #fff;
}

.user-table tr:nth-child(even) {
    background-color: #f3f3f3;
}

.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
} 

.searchbar {
    margin-bottom: 10px;
    text-align: right;
}

.searchbar input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #3e3e3e;
}